In [103]:
import pandas as pd
import numpy as np
import datetime as dt

## 데이터 병합

In [3]:
train_log = pd.read_excel('./train_log.xlsx', index_col = False)
val_log = pd.read_excel('./val_log.xlsx', index_col = False)
train_label = pd.read_csv('./data/train_label.csv', index_col = False)
val_label = pd.read_csv('./data/val_label.csv', index_col = False)

In [4]:
train_log = train_log.merge(train_label, left_on = 'EMAIL', right_on = 'SAMPLE_EMAIL', how = 'inner')
val_log = val_log.merge(val_label, left_on = 'EMAIL', right_on = 'SAMPLE_EMAIL', how = 'inner')

In [5]:
total_log = pd.concat([train_log, val_log], axis = 0)
total_log

,EMAIL,activity_day_start,CONVERT(activity_class_5min USING utf8),CONVERT(activity_met_1min USING utf8),sleep_bedtime_end,sleep_bedtime_start,CONVERT(sleep_hr_5min USING utf8),CONVERT(sleep_hypnogram_5min USING utf8),CONVERT(sleep_rmssd_5min USING utf8),SAMPLE_EMAIL,DIAG_NM
0,nia+279@rowan.kr,2020-10-19T04:00:00+09:00,1/1/2/2/2/2/1/1/1/1/1/1/1/2/2/2/2/2/2/3/3/2/2/...,1.2/0.9/1/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/...,2020-10-19T05:10:28+09:00,2020-10-18T18:38:28+09:00,63/61/59/58/58/58/56/55/54/53/53/53/0/0/54/57/...,4/2/2/2/2/1/1/2/2/2/2/2/4/4/4/1/1/4/4/4/2/2/2/...,18/28/25/28/34/34/35/45/54/36/36/60/0/0/34/22/...,nia+279@rowan.kr,MCI
1,nia+279@rowan.kr,2020-10-20T04:00:00+09:00,1/1/1/2/2/2/2/2/2/2/2/2/1/1/1/1/1/2/3/3/3/3/2/...,0.9/0.9/1.3/1/0.9/0.9/1.1/0.9/1/0.9/1/0.9/1/0....,2020-10-20T05:37:52+09:00,2020-10-19T21:39:52+09:00,0/51/0/51/52/52/52/52/53/53/53/52/52/53/53/53/...,4/2/4/2/2/2/1/1/1/2/2/3/3/3/3/3/3/3/1/1/1/4/4/...,0/49/0/38/51/17/18/18/26/27/24/29/36/31/32/34/...,nia+279@rowan.kr,MCI
2,nia+279@rowan.kr,2020-10-21T04:00:00+09:00,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/2/3/3/3/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2020-10-21T05:45:28+09:00,2020-10-20T20:51:28+09:00,54/56/0/55/53/55/56/55/0/55/54/54/54/0/0/55/55...,4/2/1/1/2/2/4/4/4/4/2/2/2/4/4/4/2/4/4/4/4/4/4/...,56/47/0/49/42/57/44/49/0/46/54/47/55/0/0/55/53...,nia+279@rowan.kr,MCI
3,nia+279@rowan.kr,2020-10-22T04:00:00+09:00,1/1/1/1/1/1/1/1/1/1/2/2/2/2/3/3/3/2/3/3/3/3/3/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2020-10-22T05:12:16+09:00,2020-10-21T22:08:16+09:00,0/54/53/53/54/54/54/53/53/53/53/54/51/50/51/51...,4/4/1/1/1/1/1/1/1/1/1/4/2/2/2/2/1/1/1/1/1/4/2/...,0/40/40/40/37/46/35/46/44/56/50/48/41/55/55/50...,nia+279@rowan.kr,MCI
4,nia+279@rowan.kr,2020-10-23T04:00:00+09:00,1/1/1/2/2/2/2/2/2/1/1/1/3/2/2/1/2/2/2/3/3/2/2/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2020-10-23T02:23:30+09:00,2020-10-22T20:38:30+09:00,0/49/50/50/50/50/50/50/51/0/0/0/0/0/0/0/0/50/5...,4/2/2/2/2/1/1/1/2/4/4/4/4/4/4/4/4/4/2/1/1/1/1/...,0/81/60/74/62/63/56/78/81/0/0/0/0/0/0/0/0/60/4...,nia+279@rowan.kr,MCI
...,...,...,...,...,...,...,...,...,...,...,...
2473,nia+280@rowan.kr,2021-02-12T04:00:00+09:00,1/2/1/1/1/2/2/3/3/2/5/3/2/2/2/2/2/1/2/1/1/1/1/...,1.2/0.9/0.9/0.9/1.1/1.1/0.9/1.1/2.4/0.9/0.9/0....,2021-02-12T04:04:11+09:00,2021-02-12T00:11:11+09:00,66/66/65/64/65/65/65/63/63/63/62/65/64/60/60/6...,4/2/4/4/2/2/2/2/3/2/1/1/2/2/1/1/1/1/1/1/3/2/2/...,45/35/29/27/34/30/31/32/41/40/37/28/43/46/53/4...,nia+280@rowan.kr,CN
2474,nia+280@rowan.kr,2021-02-13T04:00:00+09:00,1/1/1/1/1/2/2/2/3/3/4/2/2/2/2/1/2/2/1/1/1/2/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2021-02-13T09:20:01+09:00,2021-02-12T21:46:01+09:00,66/0/0/69/69/69/67/65/63/63/64/64/66/70/66/65/...,4/2/4/2/1/4/2/2/2/1/1/1/1/4/2/2/2/2/3/3/3/3/3/...,21/0/0/30/31/35/35/29/37/34/35/35/31/15/20/23/...,nia+280@rowan.kr,CN
2475,nia+280@rowan.kr,2021-02-15T04:00:00+09:00,3/3/3/3/3/2/3/3/2/2/2/2/2/2/2/2/2/2/2/2/1/2/1/...,2.1/1.9/2.2/2.4/2.8/2.2/1.9/1.7/1.9/1.4/2.6/1....,2021-02-15T08:18:10+09:00,2021-02-14T21:40:10+09:00,63/63/63/62/63/62/62/62/63/69/71/68/70/0/0/72/...,4/2/2/2/2/2/1/1/1/1/2/2/4/4/4/1/2/3/3/3/2/2/2/...,29/28/28/32/27/35/34/36/31/27/14/29/16/0/0/19/...,nia+280@rowan.kr,CN
2476,nia+280@rowan.kr,2021-02-16T04:00:00+09:00,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2021-02-16T07:43:02+09:00,2021-02-15T19:41:02+09:00,0/72/71/70/68/69/69/68/68/0/0/0/68/68/68/68/67...,4/2/2/4/4/2/1/1/4/4/4/4/1/1/1/1/2/2/2/4/2/1/1/...,0/19/14/14/22/20/22/22/22/0/0/0/31/30/34/30/26...,nia+280@rowan.kr,CN
2477,nia+280@rowan.kr,2021-02-17T04:00:00+09:00,1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/1/...,1.3/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0.9/0....,2021-02-17T06:02:59+09:00,2021-02-16T22:21:59+09:00,0/0/0/0/64/66/66/65/65/67/68/66/66/66/66/66/67...,4/4/4/4/2/2/2/1/1/1/1/2/2/2/1/1/2/3/2/2/2/2/2/...,0/0/0/0/25/31/33/35/36/33/17/30/30/29/31/29/23...,nia+280@rowan.kr,CN

In [6]:
total_log.columns

Index(['EMAIL', 'activity_day_start',
       'CONVERT(activity_class_5min USING utf8)',
       'CONVERT(activity_met_1min USING utf8)', 'sleep_bedtime_end',
       'sleep_bedtime_start', 'CONVERT(sleep_hr_5min USING utf8)',
       'CONVERT(sleep_hypnogram_5min USING utf8)',
       'CONVERT(sleep_rmssd_5min USING utf8)', 'SAMPLE_EMAIL', 'DIAG_NM'],
      dtype='object')

In [7]:
total_log.rename(columns = {'CONVERT(activity_class_5min USING utf8)' : 'activity_class_5min',
       'CONVERT(activity_met_1min USING utf8)' : 'activity_met_1min',
       'CONVERT(sleep_hr_5min USING utf8)' : 'sleep_hr_5min',
       'CONVERT(sleep_hypnogram_5min USING utf8)' : 'sleep_hypnogram_5min',
       'CONVERT(sleep_rmssd_5min USING utf8)' : 'sleep_rmssd_5min'}, inplace = True)
total_log.drop(columns = 'SAMPLE_EMAIL', inplace = True)

In [8]:
total_log.columns

Index(['EMAIL', 'activity_day_start', 'activity_class_5min',
       'activity_met_1min', 'sleep_bedtime_end', 'sleep_bedtime_start',
       'sleep_hr_5min', 'sleep_hypnogram_5min', 'sleep_rmssd_5min', 'DIAG_NM'],
      dtype='object')

## 로그 데이터 형식 바꾸기

In [ ]:
col = ['activity_class_5min', 'activity_met_1min', 'sleep_hr_5min', 'sleep_hypnogram_5min', 'sleep_rmssd_5min']
f| i in col : 
    aa = []
    f| j in range(len(total_log[i])):
        status_list = total_log.iloc[j][i].split('/')
        status_list = [float(x) f| x in status_list if x.strip() != '' & x.replace('.', '', 1).isdigit()]
        aa.append(status_list) 
    total_log[i] = aa

In [10]:
total_log.head(2)

,EMAIL,activity_day_start,activity_class_5min,activity_met_1min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM
0,nia+279@rowan.kr,2020-10-19T04:00:00+09:00,"[1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[1.2, 0.9, 1.0, 0.9, 0.9, 0.9, 0.9, 0.9, 0.9, ...",2020-10-19T05:10:28+09:00,2020-10-18T18:38:28+09:00,"[63.0, 61.0, 59.0, 58.0, 58.0, 58.0, 56.0, 55....","[4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 2.0, 2.0, ...","[18.0, 28.0, 25.0, 28.0, 34.0, 34.0, 35.0, 45....",MCI
1,nia+279@rowan.kr,2020-10-20T04:00:00+09:00,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...","[0.9, 0.9, 1.3, 1.0, 0.9, 0.9, 1.1, 0.9, 1.0, ...",2020-10-20T05:37:52+09:00,2020-10-19T21:39:52+09:00,"[0.0, 51.0, 0.0, 51.0, 52.0, 52.0, 52.0, 52.0,...","[4.0, 2.0, 4.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[0.0, 49.0, 0.0, 38.0, 51.0, 17.0, 18.0, 18.0,...",MCI

## 1분->5분 바꾸기

In [ ]:
def chunked_avg(lst, chunk_size=5):
    return [round(np.mean(lst[i:i+chunk_size]), 1) f| i in range(0, len(lst), chunk_size)]

In [12]:
total_log['activity_met_5min'] = total_log['activity_met_1min'].apply(lambda x : chunked_avg(x))

In [13]:
total_log.head(2)

,EMAIL,activity_day_start,activity_class_5min,activity_met_1min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM,activity_met_5min
0,nia+279@rowan.kr,2020-10-19T04:00:00+09:00,"[1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[1.2, 0.9, 1.0, 0.9, 0.9, 0.9, 0.9, 0.9, 0.9, ...",2020-10-19T05:10:28+09:00,2020-10-18T18:38:28+09:00,"[63.0, 61.0, 59.0, 58.0, 58.0, 58.0, 56.0, 55....","[4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 2.0, 2.0, ...","[18.0, 28.0, 25.0, 28.0, 34.0, 34.0, 35.0, 45....",MCI,"[1.0, 0.9, 1.0, 1.2, 1.2, 1.2, 1.0, 0.9, 0.9, ..."
1,nia+279@rowan.kr,2020-10-20T04:00:00+09:00,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...","[0.9, 0.9, 1.3, 1.0, 0.9, 0.9, 1.1, 0.9, 1.0, ...",2020-10-20T05:37:52+09:00,2020-10-19T21:39:52+09:00,"[0.0, 51.0, 0.0, 51.0, 52.0, 52.0, 52.0, 52.0,...","[4.0, 2.0, 4.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[0.0, 49.0, 0.0, 38.0, 51.0, 17.0, 18.0, 18.0,...",MCI,"[1.0, 1.0, 0.9, 1.1, 1.1, 1.2, 1.2, 1.2, 1.3, ..."

In [14]:
total_log.drop(columns = ['activity_met_1min'], inplace=True)

## 시각을 5분 단위로 변환(하루 288)

In [15]:
total_log['activity_day_start'] = pd.to_datetime(total_log['activity_day_start'])
total_log['sleep_bedtime_end'] = pd.to_datetime(total_log['sleep_bedtime_end'])
total_log['sleep_bedtime_start'] = pd.to_datetime(total_log['sleep_bedtime_start'])

In [16]:
total_log['activity_day_start_5min'] = (total_log['activity_day_start'].dt.hour * 12) + (total_log['activity_day_start'].dt.minute // 5)
total_log['sleep_bedtime_end_5min'] = (total_log['sleep_bedtime_end'].dt.hour * 12) + (total_log['sleep_bedtime_end'].dt.minute // 5)
total_log['sleep_bedtime_start_5min'] = (total_log['sleep_bedtime_start'].dt.hour * 12) + (total_log['sleep_bedtime_start'].dt.minute // 5)

In [17]:
total_log.head(2)

,EMAIL,activity_day_start,activity_class_5min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM,activity_met_5min,activity_day_start_5min,sleep_bedtime_end_5min,sleep_bedtime_start_5min
0,nia+279@rowan.kr,2020-10-19 04:00:00+09:00,"[1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...",2020-10-19 05:10:28+09:00,2020-10-18 18:38:28+09:00,"[63.0, 61.0, 59.0, 58.0, 58.0, 58.0, 56.0, 55....","[4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 2.0, 2.0, ...","[18.0, 28.0, 25.0, 28.0, 34.0, 34.0, 35.0, 45....",MCI,"[1.0, 0.9, 1.0, 1.2, 1.2, 1.2, 1.0, 0.9, 0.9, ...",48,62,223
1,nia+279@rowan.kr,2020-10-20 04:00:00+09:00,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...",2020-10-20 05:37:52+09:00,2020-10-19 21:39:52+09:00,"[0.0, 51.0, 0.0, 51.0, 52.0, 52.0, 52.0, 52.0,...","[4.0, 2.0, 4.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[0.0, 49.0, 0.0, 38.0, 51.0, 17.0, 18.0, 18.0,...",MCI,"[1.0, 1.0, 0.9, 1.1, 1.1, 1.2, 1.2, 1.2, 1.3, ...",48,67,259

In [18]:
# 새벽 4시 이후에 자는 경우 -> 활동 로그를 끝까지 사용
len(total_log[(total_log['sleep_bedtime_start_5min']>=48) & (total_log['sleep_bedtime_start_5min']<=144)])

32

In [19]:
# 새벽 4시 전에 일어나는 경우
len(total_log[(total_log['sleep_bedtime_end_5min']<=48) | (total_log['sleep_bedtime_end_5min']>=144)])

1108

In [20]:
total_log['sleep_bedtime_end_day'] = total_log['sleep_bedtime_end'].dt.day
total_log['sleep_bedtime_start_day'] = total_log['sleep_bedtime_start'].dt.day

In [21]:
(total_log['sleep_bedtime_end_day'] - total_log['sleep_bedtime_start_day']).value_counts()
# 1 : 일반적인 상황. 전날 잠들어서 다음날 일어나기
# 0 : 12시 넘어서 당일에 일어나기
# -30, -29 : 달이 바뀌는 상황

 1     10059
 0      1772
-30      210
-29      142
Name: count, dtype: int64

In [22]:
total_log['activity_day_start_day'] = total_log['activity_day_start'].dt.day

In [23]:
total_log.columns

Index(['EMAIL', 'activity_day_start', 'activity_class_5min',
       'sleep_bedtime_end', 'sleep_bedtime_start', 'sleep_hr_5min',
       'sleep_hypnogram_5min', 'sleep_rmssd_5min', 'DIAG_NM',
       'activity_met_5min', 'activity_day_start_5min',
       'sleep_bedtime_end_5min', 'sleep_bedtime_start_5min',
       'sleep_bedtime_end_day', 'sleep_bedtime_start_day',
       'activity_day_start_day'],
      dtype='object')

In [24]:
total_log.rename(columns = {'activity_day_start_5min':'act_start_5min',
                            'sleep_bedtime_end_5min': 'sleep_end_5min', 
                            'sleep_bedtime_start_5min' : 'sleep_start_5min',
                            'sleep_bedtime_end_day' : 'sleep_end_day', 
                            'sleep_bedtime_start_day' : 'sleep_start_day',
                            'activity_day_start_day' : 'act_start_day'}, inplace = True)

## 잠 패턴 분류

In [ ]:
test_df = total_log.copy()

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12183 entries, 0 to 2477
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EMAIL                 12183 non-null  object
 1   activity_day_start    12183 non-null  datetime64[ns, UTC+09:00]
 2   activity_class_5min   12183 non-null  object
 3   sleep_bedtime_end     12183 non-null  datetime64[ns, UTC+09:00]
 4   sleep_bedtime_start   12183 non-null  datetime64[ns, UTC+09:00]
 5   sleep_hr_5min         12183 non-null  object
 6   sleep_hypnogram_5min  12183 non-null  object
 7   sleep_rmssd_5min      12183 non-null  object
 8   DIAG_NM               12183 non-null  object
 9   activity_met_5min     12183 non-null  object
 10  act_start_5min        12183 non-null  int32
 11  sleep_end_5min        12183 non-null  int32
 12  sleep_start_5min      12183 non-null  int32
 13  sleep_end_day         12183 non-null  int32
 14  sleep_start_day       12183 non-null  int32
 15  act_start_day         12183 non-null  int32
dtypes: datetime64[ns, UTC+09:00](3), int32(6), object(7)
memory usage: 1.3+ MB

In [ ]:
# 1번 경우 : 취침-기상이 모두 이전행 활동 시간에 있음
aa = ((test_df['act_start_day'] != test_df['sleep_end_day'])&(test_df['act_start_day'] != test_df['sleep_start_day'])) | ((test_df['act_start_day'] == test_df['sleep_end_day'])&(test_df['sleep_end_5min']<48)&(test_df['sleep_end_5min']>=0))
print(len(test_df[aa]))
test_df[aa].head(2)

931

,EMAIL,activity_day_start,activity_class_5min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM,activity_met_5min,act_start_5min,sleep_end_5min,sleep_start_5min,sleep_end_day,sleep_start_day,act_start_day,processed_log
4,nia+279@rowan.kr,2020-10-23 04:00:00,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...",2020-10-23 02:23:30,2020-10-22 20:38:30,"[0.0, 49.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0...","[4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 2.0, ...","[0.0, 81.0, 60.0, 74.0, 62.0, 63.0, 56.0, 78.0...",MCI,"[0.9, 0.9, 0.9, 1.0, 1.3, 1.2, 1.2, 1.2, 1.0, ...",48,28,247,23,22,23,"[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
13,nia+279@rowan.kr,2020-11-01 04:00:00,"[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 1.0, ...",2020-11-01 03:04:26,2020-10-31 20:48:26,"[0.0, 55.0, 55.0, 53.0, 54.0, 53.0, 53.0, 53.0...","[4.0, 4.0, 3.0, 3.0, 3.0, 3.0, 3.0, 1.0, 1.0, ...","[0.0, 45.0, 40.0, 47.0, 47.0, 51.0, 54.0, 54.0...",MCI,"[1.3, 1.3, 1.3, 1.4, 1.2, 1.2, 1.2, 1.1, 0.9, ...",48,36,249,1,31,1,"[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, ..."

In [70]:
# 2번 경우(일반적) : 취침은 이전행 활동 시간에, 기상은 당행 활동 시간에 위치하는 경우
bb_start = ((test_df['act_start_day'] == test_df['sleep_start_day'])&(test_df['sleep_start_5min']<48)&(test_df['sleep_start_5min']>=0)) | (test_df['act_start_day'] != test_df['sleep_start_day'])
bb_end = (test_df['act_start_day'] == test_df['sleep_end_day'])&(test_df['sleep_end_5min']>=48)
len(test_df[bb_start&bb_end])

11206

In [71]:
# 3번 경우 : 취침과 기상이 모두 당행 활동 시간에 위치하는 경우
cc = (test_df['act_start_day'] == test_df['sleep_start_day'])&(test_df['sleep_start_5min']>=48)
print(len(test_df[cc]))
test_df[cc].head(2)

46

,EMAIL,activity_day_start,activity_class_5min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM,activity_met_5min,act_start_5min,sleep_end_5min,sleep_start_5min,sleep_end_day,sleep_start_day,act_start_day,processed_log
456,nia+181@rowan.kr,2020-11-01 04:00:00,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 3.0, ...",2020-11-01 16:21:33,2020-11-01 08:15:33,"[0.0, 86.0, 85.0, 85.0, 85.0, 84.0, 0.0, 0.0, ...","[4.0, 4.0, 4.0, 4.0, 4.0, 2.0, 4.0, 2.0, 2.0, ...","[0.0, 21.0, 12.0, 11.0, 12.0, 14.0, 0.0, 0.0, ...",CN,"[0.9, 0.9, 0.9, 0.9, 1.0, 0.9, 0.9, 1.0, 2.0, ...",48,196,99,1,1,1,"[0, 0, 0, 0, 1, 0, 0, 1, 2, 1, 1, 2, 1, 1, 1, ..."
573,nia+268@rowan.kr,2020-11-28 04:00:00,"[2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 3.0, ...",2020-11-29 07:18:39,2020-11-28 16:18:39,"[0.0, 66.0, 65.0, 65.0, 65.0, 64.0, 65.0, 64.0...","[4.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 4.0, 4.0, ...","[0.0, 16.0, 22.0, 33.0, 13.0, 13.0, 20.0, 13.0...",MCI,"[1.5, 0.9, 1.0, 0.9, 0.9, 0.9, 0.9, 1.0, 1.5, ...",48,87,195,29,28,28,"[1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, ..."

In [74]:
len(test_df[~(aa|(bb_start&bb_end)|cc)])

0

## 활동 로그 작업

In [87]:
test_df.head(2)

,EMAIL,activity_day_start,activity_class_5min,sleep_bedtime_end,sleep_bedtime_start,sleep_hr_5min,sleep_hypnogram_5min,sleep_rmssd_5min,DIAG_NM,activity_met_5min,act_start_5min,sleep_end_5min,sleep_start_5min,sleep_end_day,sleep_start_day,act_start_day,processed_log
0,nia+279@rowan.kr,2020-10-19 04:00:00,"[1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...",2020-10-19 05:10:28,2020-10-18 18:38:28,"[63.0, 61.0, 59.0, 58.0, 58.0, 58.0, 56.0, 55....","[4.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 2.0, 2.0, ...","[18.0, 28.0, 25.0, 28.0, 34.0, 34.0, 35.0, 45....",MCI,"[1.0, 0.9, 1.0, 1.2, 1.2, 1.2, 1.0, 0.9, 0.9, ...",48,62,223,19,18,19,"[1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, ..."
1,nia+279@rowan.kr,2020-10-20 04:00:00,"[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ...",2020-10-20 05:37:52,2020-10-19 21:39:52,"[0.0, 51.0, 0.0, 51.0, 52.0, 52.0, 52.0, 52.0,...","[4.0, 2.0, 4.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, ...","[0.0, 49.0, 0.0, 38.0, 51.0, 17.0, 18.0, 18.0,...",MCI,"[1.0, 1.0, 0.9, 1.1, 1.1, 1.2, 1.2, 1.2, 1.3, ...",48,67,259,20,19,20,"[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, ..."

In [110]:
test_df.columns

Index(['EMAIL', 'activity_day_start', 'activity_class_5min',
       'sleep_bedtime_end', 'sleep_bedtime_start', 'sleep_hr_5min',
       'sleep_hypnogram_5min', 'sleep_rmssd_5min', 'DIAG_NM',
       'activity_met_5min', 'act_start_5min', 'sleep_end_5min',
       'sleep_start_5min', 'sleep_end_day', 'sleep_start_day', 'act_start_day',
       'processed_log'],
      dtype='object')

In [ ]:
def generate_act_logs(df, log_col):
    """
    df: DataFrame containing columns ['start_date', 'sleep_start', 'sleep_end', 'activity_log']
        - start_date: 활동 시작 날짜 (YYYY-MM-DD 형식 문자열, 04:00부터 24시간 기준)
        - sleep_start: 수면 시작 날짜와 시간 (YYYY-MM-DD HH:MM 형식 문자열)
        - sleep_end: 수면 종료 날짜와 시간 (YYYY-MM-DD HH:MM 형식 문자열)
        - activity_log: 기존 활동 로그 리스트 (5분 단위, 길이 288)
    """
    results = []
    
    for index, row in df.iterrows():
        start_date = row['activity_day_start']
        activity_log = np.array(row[log_col])

        if len(activity_log) < 288:
            activity_log = np.pad(activity_log, (0, 288 - len(activity_log)), constant_values=-1)
        
        
        # 5분 단위 시간 생성 (당일 04:00 ~ 익일 04:00)
        time_slots = np.array([np.datetime64(f"{start_date}") + np.timedelta64(5*i, 'm') for i in range(288)])
        
        # 수면 시간 필터링 (해당 활동 시간에 걸쳐 있는 모든 수면 로그 반영)
        sleep_mask = np.zeros(288, dtype=bool)
        for sleep_start, sleep_end in zip(df['sleep_bedtime_start'], df['sleep_bedtime_end']):
            sleep_start_time = np.datetime64(sleep_start)
            sleep_end_time = np.datetime64(sleep_end)
            
            mask = (time_slots >= sleep_start_time) & (time_slots < sleep_end_time)
            sleep_mask |= mask  # 여러 수면 시간을 합쳐 반영
        
        # 새로운 로그 데이터 생성
        new_activity_log = activity_log.copy()
        new_activity_log[sleep_mask] = -1

        results.append({
            'start_date': start_date,
            'new_activity_log': new_activity_log.tolist(),
            'activity_day_start': row['activity_day_start']  # 원래 순서를 유지하기 위한 컬럼 추가
        })
    
    
    result_df = pd.DataFrame(results)

    # 원본 데이터프레임 순서 유지
    result_df = result_df.set_index('activity_day_start').reindex(df['activity_day_start']).reset_index()
    result_df['EMAIL'] = df['EMAIL']

    return result_df

In [136]:
processed_groups = []

grouped = test_df.groupby(by=['EMAIL'])
for participant, group in grouped:
    group = group.reset_index(drop=True)
    new_group = generate_act_logs(group, 'activity_class_5min')
    processed_groups.append(new_group)

# 모든 그룹을 다시 하나의 데이터프레임으로 합치기
activity_class_5min_df = pd.concat(processed_groups, ignore_index=True)

In [137]:
processed_groups = []

grouped = test_df.groupby(by=['EMAIL'])
for participant, group in grouped:
    group = group.reset_index(drop=True)
    new_group = generate_act_logs(group, 'activity_met_5min')
    processed_groups.append(new_group)

# 모든 그룹을 다시 하나의 데이터프레임으로 합치기
activity_met_5min_df = pd.concat(processed_groups, ignore_index=True)

In [139]:
activity_class_5min_df.rename(columns = {'new_activity_log' : 'activity_class_5min_adj'}, inplace = True)
activity_class_5min_df.drop(columns = ['start_date'], inplace = True)

activity_met_5min_df.rename(columns = {'new_activity_log' : 'activity_met_5min_df_adj'}, inplace = True)
activity_met_5min_df.drop(columns = ['start_date'], inplace = True)

act_log_df = activity_class_5min_df.merge(activity_met_5min_df, on = ['EMAIL', 'activity_day_start'])

In [141]:
act_log_df.head(2)

,activity_day_start,activity_class_5min_adj,EMAIL,activity_met_5min_df_adj
0,2020-10-18 04:00:00,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",nia+003@rowan.kr,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."
1,2020-10-19 04:00:00,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",nia+003@rowan.kr,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."

In [140]:
act_log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12183 entries, 0 to 12182
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   activity_day_start        12183 non-null  datetime64[ns]
 1   activity_class_5min_adj   12183 non-null  object
 2   EMAIL                     12183 non-null  object
 3   activity_met_5min_df_adj  12183 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 380.8+ KB

## 수면 로그 작업

In [158]:
def generate_sleep_logs(df, log_col):
    """
    df: DataFrame containing columns ['activity_day_start', 'sleep_bedtime_start', 'sleep_bedtime_end', log_col]
        - activity_day_start: 활동 시작 날짜 (YYYY-MM-DD 형식 문자열, 04:00부터 24시간 기준)
        - sleep_bedtime_start: 수면 시작 날짜와 시간 (YYYY-MM-DD HH:MM 형식 문자열)
        - sleep_bedtime_end: 수면 종료 날짜와 시간 (YYYY-MM-DD HH:MM 형식 문자열)
        - log_col: 기존 수면 로그 데이터 컬럼명
    """
    results = []
    
    for index, row in df.iterrows():
        start_date = row['activity_day_start']
        sleep_log = np.array(row[log_col])  # 현재 행의 수면 로그

        # 로그 길이가 288보다 짧으면 -1로 패딩
        if len(sleep_log) < 288:
            sleep_log = np.pad(sleep_log, (0, 288 - len(sleep_log)), constant_values=-1)

        # 5분 단위 시간 생성 (당일 04:00 ~ 익일 04:00)
        time_slots = np.array([np.datetime64(f"{start_date}") + np.timedelta64(5*i, 'm') for i in range(288)])
        
        # 전체 수면 데이터에서 현재 행과 이전/다음 행을 고려하여 가져옴
        sleep_mask = np.zeros(288, dtype=bool)
        relevant_sleep_logs = np.full(288, -1)  # 기본값 -1

        for i in range(max(0, index - 1), min(len(df), index + 2)):  # 이전, 현재, 다음 행을 포함
            sleep_start_time = np.datetime64(df.iloc[i]['sleep_bedtime_start'])
            sleep_end_time = np.datetime64(df.iloc[i]['sleep_bedtime_end'])
            curr_sleep_log = np.array(df.iloc[i][log_col])

            # 3개 행 중에서 현재 행의 활동 로그와 겹치는 부분 찾기
            mask = (time_slots >= sleep_start_time) & (time_slots < sleep_end_time)
            sleep_mask |= mask  

            # 해당 mask 위치에 올바른 수면 로그 값 매핑
            relevant_sleep_logs[mask] = curr_sleep_log[:np.sum(mask)]  # 해당 범위의 수면 데이터 삽입

        results.append({
            'start_date': start_date,
            'new_sleep_log': relevant_sleep_logs.tolist(),
            'activity_day_start': row['activity_day_start']  # 원래 순서를 유지하기 위한 컬럼 추가
        })
    
    result_df = pd.DataFrame(results)

    # 원본 데이터프레임 순서 유지
    result_df = result_df.set_index('activity_day_start').reindex(df['activity_day_start']).reset_index()
    result_df['EMAIL'] = df['EMAIL']

    return result_df

In [160]:
processed_groups = []

grouped = test_df.groupby(by=['EMAIL'])
for participant, group in grouped:
    group = group.reset_index(drop=True)
    new_group = generate_sleep_logs(group, 'sleep_hr_5min')
    processed_groups.append(new_group)

# 모든 그룹을 다시 하나의 데이터프레임으로 합치기
sleep_hr_5min_df = pd.concat(processed_groups, ignore_index=True)

In [161]:
processed_groups = []

grouped = test_df.groupby(by=['EMAIL'])
for participant, group in grouped:
    group = group.reset_index(drop=True)
    new_group = generate_sleep_logs(group, 'sleep_hypnogram_5min')
    processed_groups.append(new_group)

# 모든 그룹을 다시 하나의 데이터프레임으로 합치기
sleep_hypnogram_5min_df = pd.concat(processed_groups, ignore_index=True)

In [162]:
processed_groups = []

grouped = test_df.groupby(by=['EMAIL'])
for participant, group in grouped:
    group = group.reset_index(drop=True)
    new_group = generate_sleep_logs(group, 'sleep_rmssd_5min')
    processed_groups.append(new_group)

# 모든 그룹을 다시 하나의 데이터프레임으로 합치기
sleep_rmssd_5min_df = pd.concat(processed_groups, ignore_index=True)

In [163]:
sleep_hr_5min_df.rename(columns = {'new_sleep_log' : 'sleep_hr_5min_adj'}, inplace = True)
sleep_hr_5min_df.drop(columns = ['start_date'], inplace = True)

sleep_hypnogram_5min_df.rename(columns = {'new_sleep_log' : 'sleep_hypnogram_5min_adj'}, inplace = True)
sleep_hypnogram_5min_df.drop(columns = ['start_date'], inplace = True)

sleep_rmssd_5min_df.rename(columns = {'new_sleep_log' : 'sleep_rmssd_5min_adj'}, inplace = True)
sleep_rmssd_5min_df.drop(columns = ['start_date'], inplace = True)


sleep_log_df = sleep_hr_5min_df.merge(sleep_hypnogram_5min_df, on = ['EMAIL', 'activity_day_start'])
sleep_log_df = sleep_log_df.merge(sleep_rmssd_5min_df, on = ['EMAIL', 'activity_day_start'])

In [164]:
aa = test_df[['EMAIL', 'activity_day_start', 
       'sleep_bedtime_start', 'sleep_bedtime_end',  
       'activity_met_5min', 'activity_class_5min',
       'sleep_hr_5min', 'sleep_hypnogram_5min', 'sleep_rmssd_5min', 'DIAG_NM'
       ]]

In [165]:
total_log_df = act_log_df.merge(sleep_log_df, on = ['EMAIL', 'activity_day_start'])
final_df = aa.merge(total_log_df, on = ['EMAIL', 'activity_day_start'])

In [166]:
final_df.to_csv('./final_test.csv')